.banner-home{
    /* max-width: 1180px; */
    height: 350px;
    background-color: aqua;
    overflow: hidden; 
}
.banner{
    padding: 0;
}
.banner-home img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    object-position: center;
}
.product{
    max-width: 280px;
    height: 365px;
    background-color: aliceblue;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    border: 2px solid #8D6E6E;
    overflow: hidden;
}
.product .img-product {
    width: 280px;
    height: 250px;
    background-color: blue;
    overflow: hidden;
}

.product .img-product img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.product .img-product:hover img {
    transform: scale(1.1);
}

.product .name-product {
    width: 100%;
    height: 45px;
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.product .price-product span,
.product .name-product span {
    font-weight: 400;
    font-size: 16px;
}

.product .price-product {
    height: 35px;
    line-height: 35px;
}


.product .addCart-product {
    width: 100%;
    height: 35px;
    border: none;
    background: #808080;
    color: white;
}

.product .addCart-product:hover {
    width: 100%;
    height: 35px;
    border: none;
    background: #8D6E6E;
    color: white;
}

.product .icon {
    width: 30px;
    height: 30px;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 26px;
    transition: color 0.3s ease;
}

.product .heart-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
}

.product .heart-button .off {
    display: block;
}

.product .heart-button .on {
    display: none;
}

.product .heart-button.active .on {
    display: block;
    color: red;
}

.product .heart-button.active .off {
    display: none;
}

.heart-button.active .icon {
    color: red;
}

.title-box {
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #8D6E6E;
    background-color: white;
}

.title-box h3 {
    width: 250px;
    float: left;
    line-height: 70px;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
}

.box-hot-product {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: flex-start;

}

.box-hot-product .product {
    flex: 0 0 auto;

    width: 280px;
    height: 365px;
    background-color: aliceblue;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    border: 2px solid #8D6E6E;
    overflow: hidden;
}

.box-hot-product .prev-btn,
.box-hot-product .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
}

.box-hot-product .prev-btn {
    left: 10px;
}

.box-hot-product .next-btn {
    right: 10px;
}


.box-hot-product .products-container {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease;
}
.product-hot{
    padding: 0;
}
.products-container.active {
    cursor: grabbing;
}
.products-container {
    cursor: grab;
}
.box-hot-product .products-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.products-container::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn trên Chrome, Safari và Opera */
}
.post{
    max-width: 380px;
    height: 445px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box; 
}

.post .img-post {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.post .img-post img {
    width: 100%;
    height: 100%;
    object-fit: cover; 

}

.post .name-post {
    width: 100%;
    height: 55px;
    padding: 10px;
    font-size: 16px;
    line-height: 21px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-align: left;
}
.post .name-post a {
    display: block;
    font-weight: 540;
    font-size: 16px;
    color: black;
    text-decoration: none;
    word-wrap: break-word; /* Đảm bảo chữ không tràn ra ngoài */
}
.post .description{
    width: 100%;
    height: 55px;
    padding: 10px;
    font-size: 14px;
    line-height: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-align: left;
}

.post .description span{
    font-style: italic;
    font-weight: 400;
    word-wrap: break-word;

}

.sub-banner-home{
    /* max-width: 1180px; */
    height: 300px;
    background-color: aqua;
    overflow: hidden;
}
.sub-banner-home img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    object-position: center;
}
.banner-sub{
    padding: 0;
}
/* end bài viết  */

    /* bố cục chính sách */
    .policy-home{
        max-width: 380px;
        height: 150px;
        border: 2px solid #8D6E6E;
        border-radius: 10px;
        overflow: hidden; 
        box-sizing: border-box; 
    }
    /* end bố cục chính sách */

    @media (max-width: 745px) {
        .c-12{
            display: flex;
            justify-content: center;
        }
    }

    @media (min-width: 740px) and (max-width: 1023px) {
        .row{
            /* display: flex; */
            justify-content: center;
        }
    }
    