/* * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.register{
    display: flex;
    justify-content: center;
}
.box-register{
    height: auto;
    max-width: 640px;
    min-width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: ruby;
    z-index: 1000;
}
.register-box-header{
    width: 480px;
    max-width: 640px;
    height: 150px;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin: 0px 50px;
}
.join-login{
    width: 480px;
    height: 40px;
    display: flex;
    float: left;
}

.join-login a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.join-login a:hover{
    color: #8D6E6E ;
}
.register-box-header button{
    border: none;
    background: none;
}
form{
    width: 480px;
    
}
.register-box-header button > i{
    font-size: 25px;
}

.re-input-group {
    margin-bottom: 15px;
    
}

.re-input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    float: left;


}

.re-input-group input {
    width: 100%;
    height: 48px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid  #8D6E6E;
    border-radius: 5px;
}

.re-password-container {
    position: relative;
}
.re-passForm{
    width: 100%;

    display: flex;
}

.re-passForm .re-text-passForm{
    float: left;
}
.re-passForm .re-text-forgot{
    float: right;
    text-decoration: none;
    color: #8D6E6E;

}
.re-password-container input {
    height: 48px;
    border: 1px solid  #8D6E6E;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
}


.re-show-password {
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.re-show-password i {
    font-size: 18px;
}

.re-checkbox-group {
    width: 100%;
    display: flex;
    float: left;

}

.re-checkbox-group label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-left: 5px;
}
.re-checkbox-group .re-checkbox{
    width: 25px;
    height: 25px;
}
.re-actions {
    display: block;
    float: left;
    margin-bottom: 30px;
}
.re-actions .re-forgot-password{
    font-weight: 600;
    color: black;
}
.re-forgot-password:hover {
    text-decoration: underline;
}

.register-btn {
    height: 50px;
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 45px 0px;

}
.register-btn:hover{
    background-color: #0056b3;
}
.re-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: block; 
    z-index: 999; 
}
@media (max-width: 730px) {
    .register-box-header{
        width: 450px;
        max-width: 640px;
        height: 150px;
        min-width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        margin: 0px 50px;
    }
    form{
        width: 360px;
        
    }
    .join-login{
        width: 360px;
        height: 40px;
        display: flex;
        float: left;
    }
}
@media (max-width: 600px) {
        .register-box-header{
            width: 300px;
            max-width: 640px;
            height: 150px;
            min-width: 300px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            margin: 0px 50px;
        }
        form{
            width: 300px;
            
        }

        .join-register{
            width: 300px;
            height: 40px;
            display: flex;
            float: left;
        }
} */